scrapegraphai==1.76.0

langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.31
langchain-openai==0.3.35
langchain-ollama==0.3.10
langchain-aws==0.2.35
langchain-mistralai==0.2.12
langchain-text-splitters==0.3.11
langgraph==0.4.10
